@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<NewsWebsite.ViewModels.HomeArticleVM>

@* Post start *@
<div class="col-12">
    <div class="rounded overflow-hidden">
        <img src="~/img/articles/@Model.First().Thumbnail" class="img-fluid rounded img-zoomin w-100" alt="" style="aspect-ratio: 3 / 2; object-fit: cover">
    </div>
</div>
<div class="col-12">
    <div class="d-flex flex-column">
        <a href="#" class="h4 mb-2 text-ellipsis-2">@Model.First().Title</a>
        <p class="fs-5 mb-0"><i class="fa fa-eye"> @Model.First().Views Lượt xem</i></p>
        <p class="fs-5 mb-0"><i class="fas fa-calendar-alt">  @Model.First().Date.ToString("dd/MM/yyyy")</i></p>
    </div>
</div>
@* Post end *@

@foreach (var article in Model.Skip(1))
{
    @* Post start *@
    <div class="col-12">
        <div class="row g-4 align-items-center">
            <div class="col-5">
                <div class="overflow-hidden rounded">
                    <img src="~/img/@article.Thumbnail" class="img-zoomin img-fluid rounded w-100" alt="" style="aspect-ratio: 3 / 2; object-fit: cover">
                </div>
            </div>
            <div class="col-7">
                <div class="features-content d-flex flex-column">
                    <a href="#" class="h6 text-ellipsis-2">@article.Title</a>
                    <small><i class="fa fa-eye"> @article.Views Lượt xem</i></small>
                    <small><i class="fas fa-calendar-alt">  @article.Date.ToString("dd/MM/yyyy")</i></small>
                </div>
            </div>
        </div>
    </div>
    @* Post end *@
}

