@{
    ViewData["title"] = "Thông tin cá nhân";
    Layout = "_LayoutAdmin";
}

@model NewsWebsite.Models.Account;

<h1>Thông tin tài khoản</h1>

<div>
    <hr />

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thông tin tài khoản</h5>
                <table class="table align-middle mb-4" style="max-width: 100%">
                    <tbody>
                        <tr>
                            <th scope="row">Tên tài khoản</th>
                            <td>@Model.Username</td>
                        </tr>
                        <tr>
                            <th scope="row">Tên hiển thị</th>
                            <td>@Model.DisplayName</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <th scope="row">Vai trò</th>
                            <td>
                                @if (Model.Role.Name == "Admin")
                                {
                                    <span class="badge rounded-pill bg-primary">@Model.Role.Name</span>
                                }
                                else
                                {
                                    <span class="badge rounded-pill bg-info">@Model.Role.Name</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex gap-3 p-3 px-4">
                <a class="btn btn-primary" asp-controller="Accounts" asp-action="EditInfo">Chỉnh sửa thông tin</a>
                <a class="btn btn-outline-danger" asp-controller="Accounts" asp-action="ChangePassword">Đổi mật khẩu</a>
            </div>
        </div>
    </div>
</div>
